https://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html
mysqld
#慢查询日志：当查询超过一定的时间没有返回结果的时候，才会记录到慢查询日志中。
#默认不开启。采样的时候手工开启。可以帮助DBA找出执行慢的SQL语句
slow_query_log=off|on     --是否开启慢查询日志
slow_query_log_file=filename --指定保存路径及文件名，默认为数据文件目录，hostname-slow.log
long_query_time=2    --指定多少秒返回查询的结果为慢查询

#bin-log
log-bin=mysql-bin
binlog_format=mixed			 //binlog日志格式，mysql默认采用
server-id = 10
expire_logs_days = 7
max_binlog_size         = 100m                       //binlog每个日志文件大小
binlog_cache_size       = 4m                        //binlog缓存大小
max_binlog_cache_size   = 512m                     //最大binlog缓存大小